.card {
	filter: grayscale(1);
	transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}
.card:hover,
.card:focus {
	filter: grayscale(0);
	translate: 0 -3px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}